/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background: #4a98f7;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4a98f7;
  margin-top: 10px;
}
.container {
  display: flex;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}
section {
  background: #fff;
  border-radius: 7px;
}
.tools-board {
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row {
  margin-bottom: 20px;
}
.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}
.option :where(span, label) {
  color: #5a6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}

.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas {
  color: #6c757d;
  border: 1px solid #6c757d;
  transition: all 0.3s ease;
}
.clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}
.buttons .save-img {
  background: #4a98f7;
  border: 1px solid #4a98f7;
}
.drawing-board {
  flex: 1;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.drawing-board canvas {
  height: 300px;
  width: 300px;
}

.sample-board {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

img {
  max-width: 100px;
  margin: 10px;
  display: block;
}

.img {
  list-style: none;
}

.img p {
  color: black;
  text-align: center;
}

.img:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.name {
  display: block;
  font-size: x-large;
}

.name-block {
  display: flex;

  justify-content: space-evenly;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.act {
  border: 5px;
  border-color: orange;
  border-style: solid;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.downArrow {
  margin-top: -10px;
  bottom: 45%;
  left: 50%;
}

.downArrow img {
  transform: rotate(0.25turn);
  margin-left: 30px;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -moz-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
/* Demo Purpose Only*/
.demo {
  font-family: "Raleway", sans-serif;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}
.demo a {
  font-family: "Raleway", sans-serif;
  color: #2ecc71;
}
